#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.desc {
    margin: 0;
}
.container {
    margin-top: 3rem;
}

.instructions {
    margin-bottom: 2rem;
}

.instructions > p {
    margin-top: 0.4rem;
}

.bottom {
    margin-top: 3rem;
    text-transform: capitalize;
}
