@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
    font-family: "Playfair Display", serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #0b0901de;
    background-color: #f2ebdc;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./assets/jarron.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 170px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    color: #495149;
}

h2 {
    color: #495149;
}
